!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Furima
    = csrf_meta_tags
    = csp_meta_tag
    %script{:src => "https://js.pay.jp/v1/", :type => "text/javascript"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
  %body
    = yield
